/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300&family=Poiret+One&display=swap');
/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-medium: 500;
}

/*===== colors =====*/
:root{
    --dark-color: #4F4F4F;
    --text-color: #020202;
    --light-color: #FEFEFE;
    --first-color: #869d9d;
}

/*===== font =====*/
:root{
    --body-font: 'Karla', sans-serif;
    --title-font: 'Poiret One', cursive;
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --span-font-size:1.2rem;
    --normal-font-size: .938rem;
    --small-font-size: .513rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 5.5rem;
        --h2-font-size: 2rem;
        --span-font-size:1.7rem;
        --normal-font-size: 1rem;
        --small-font-size: .675rem;
    }
}

/*===== margins =====*/
:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/*===== z index =====*/
:root{
    --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

h1 {
    font-family: var(--title-font);
    text-align: center;
}

h2 p {
    font-family: var(--body-font);
}

span {
    font-family: var(--title-font);
    text-align: center;
    font-size: var(--span-font-size);
}

h1,h2,p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/*===== FILL IMAGE TO EACH WINDOW????????????? ===== */
img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: fill;
}

/*===== CLASS CSS ===== */
.section {
    padding: 3rem 0;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.226);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}
/*=== HOW TO MAKE LOGO CENTER IN BOTH VIEWS?????? ===*/

.nav__item {
    margin-bottom: var(--mb-4);
}
.nav__link {
    position: relative;
    color: var(--dark-color);
}
.nav__link:hover {
    color: var(--text-color);
    font-weight: 600;
}

.nav__toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/*Active menu - how do you make the white bar under each navigation responsible to the clicks/pages*/
/*.active::after {
    position:absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
*/
/*Blog*/
.blog {
    position: relative;
    background-color: var(--light-color);
    overflow: hidden;
    padding-bottom: var(--mb-4);
}

.blog__container {
    height: calc (100vh - var(--header-height));
    row-gap: 2rem;
    justify-items: center;
}

.blog__title {
    margin-top: 5rem;
    align-self: flex-end;
    font-size: var(--h1-font-size);
    color: var(--dark-color);
    line-height: 1.1;
}

.blog__scroll {
    align-self: flex-end;
    padding-bottom: var(--mb-2);
}

.blog__img {
    position: relative;
    overflow: hidden;
}

.blog__img img {
    border-radius: .5rem;
    object-fit: cover;
    width: 350px;
    height: 250px;
}

.blog__link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}

.blog__img:hover .blog__link {
    bottom: 0;
}

.blog__link-name {
    color: var(--text-color);
}

.blog__link-description {
    color: var(--dark-color);
    font-size: var(--normal-font-size);
}

/*Blog page*/
.blogpage__container {
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}

.section-entry {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}

.section-entry::after {
    position: absolute;
    content: "";
    width: 90%;
    height: .05rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.blogpage__img {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.blogpage__img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.blogpage__details {
    display: block;
    margin-bottom: var(--mb-4);
}

.blockquote {
    max-width: 900px;
    margin: 10px 30px;
    padding: 25px;
    border-color: var(--first-color);
    border: 0px solid var(--first-color);
    color: var(--text-color);
    box-sizing: border-box;
}

.blockquote__text {
    font-style: italic;
    font-size: var(--normal-font-size);
    text-align: left;
}

.blockquote--bordered {
    border-left-width: 10px;
}

.blockquote--quoted::before {
    content: "\201c";
    font-size: var(--h1-font-size);
    color: var(--first-color);
    display: block;
    margin-top: calc(var(--mb-4) - 4rem);
    margin-bottom: calc(var(--mb-4) - 3rem);
}

.blockquote--quoted {
    text-align: left;
}

.blockquote__text:not(:last-child) {
    margin-bottom: var(--mb-4);
}

.blockquote__text--credit {
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.blockquote__text--credit::before {
    content: "\2014\0020";
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
/*End of Blog page*/

/*Contact*/
.contact {
    background-color: var(--light-color);
}

.contact__container {
    row-gap: 2rem;
}

.contact__subtitle {
    font-size: var(--normal-font-size);
    color: var(--first-color);
}

.contact__text {
    display: inline-block;
    margin-bottom: var(--mb-2);
}

.contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.contact__input {
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
}

.contact__button {
    display: block;
    background-color: var(--first-color);
    columns: var(--light-color);
    padding: .75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

/*Footer*/
.footer {
    background-color: var(--dark-color);
    padding-top: var(--mb-4);
}

.footer__container {
    row-gap: 2rem;
}

.footer__title {
    font-family: var(--title-font);
    font-size: var(--span-font-size);
    margin-bottom: var(--mb-2);
}

.footer__link {
    padding: .25rem 0;
}

.footer__link:hover {
    color: var(--light-color);
    font-weight: 600;
}

.footer__social {
    font-size: 1.4rem;
    margin-right: var(--mb-1);
}

.footer__social:hover {
    color: var(--light-color);
}

/*Media queries*/
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .blog{
        padding-top: 4rem;
    }

    .section{
        padding-top: 4rem;
    }

    .section-title{
        margin-bottom: 3rem;
    }

    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .section-entry{
        margin-bottom: 3rem;
    }

    .section-entry::after{
        height: .08rem;
        width: 90%;
        top: 4rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list{
        display: flex;
    }

    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }

    .nav__toggle{
        display: none;
    }

    .nav__link{
        color: var(--dark-color);
    }
    .nav__link:hover{
        color: var(--light-color);
    }

    .active::after{
        background-color: var(--light-color);
    }

    .blog__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 2rem;
    }
    
    .column {
        width: 100%;
      }
    .contact__container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .contact__form{
        width: 380px;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}
